name: Generate 3D Contribution Graph

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate 3D contribution graph
        uses: yoshi389111/github-profile-3d-contrib@v0.7.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          username: Thamizh0206

      - name: Commit generated files
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "chore: update 3D contribution graph" || echo "No changes"
          git push
